* {
    box-sizing: border-box;
 }
.clearfix {
    clear: both;
}
 html{
    height: 100%;
}
body{
    background-image: url("../images/vintage-concrete.png");
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    min-height: 100%;
    padding: 0px;
    position: relative;
    font-size: 18px;
    color: #777777;
}
header {
	box-shadow: rgba(0, 0, 0, .3) 0 1px 2px;
	background: #ffffff;
	color: #ffffff;
	overflow: auto;
	border-bottom: 2px solid #cccccc;
	width: 100%;
}
h1, h2, h3, h4, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h2 {
    color: #4aaaa5;
    border-bottom: 2px #ccc solid;
    margin: 0 0 25px;
    padding-bottom: 25px;
}
nav {
    float: right;
    text-align: center;
    line-height: 90px;
}
a {
	color: #999999;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
a.active {
    font-weight: bold;
}
.withDivider{
    border-left: 1px solid #efefef;
}
ul {
	list-style: none;
	margin: 0;
    padding: 0;
    display: flex;
}
li {
	float: left;
}
.headshot{
    float: left;
    width: 275px;
    padding: 0 25px 15px 0;
}
form input, textarea, button{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
button {
    width: auto;
    padding: 5px 20px;
}
label {
    padding-bottom: 3px;
}
textarea {
    height: 235px;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
section {
    width: 100%;
}
.logo {
    float: left;
	background-color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	color: #ffffff;
	width: 360px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
    vertical-align: middle; 
    border-bottom: 2px solid #cccccc;
	background-color: #4aaaa5;
	height:90px;
}
.main {
    margin-top: 20px;
    background: #ffffff;
    border: #dddddd 2px solid;
    padding: 25px;
    line-height: 1.2;
}
#portfolio .portfolioIMG{
    width: 325px;
}
.spacer {
    padding-top: 75px;
}
figure {
    margin: 0 25px 25px 0;
    position: relative;
}
figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background: #4aaaa5;
    padding-bottom: 20px;
    margin-bottom: 25px;
    padding-top: 20px;
    font-size: 18px
}
.imageContainer {
    float: left;
}
.hover-outline { 
    margin-left: 30px;
    margin-top: 10px;
}
.hover-outline:hover {
    outline: 5px solid gray;
    outline-offset: 10px;
}
footer {
    width: 100%;
	padding: 15px;
	height: 35px;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	color: #dddddd;
    text-align: center;
    margin-top: 25px;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    line-height: 14px;
}
@media screen and (max-width: 980px) {
    .wrapper {
        width: 80%;
    }
    ul {
        margin-right: auto;
        margin-left: auto;
    }
    li {
        height: 10px;
    }
    .logo {
        width: 45%;
        font-size: 14px;
    }
    form input, textarea {
        width: 80%
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 70%;
    }
    .logo {
        width: 55%;
        font-size: 12px;
    }
    a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    form input, textarea {
        width: 100%
    }
    h1 {
        margin-top: 30px;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 640px) {
    li {
        height: 10px;
    }
    .logo {
        font-size: 10px;
        height: 70px;
    }
    a {
        font-size: 12px;
    }
    .headshot {
        width: 60%;
    }
    .gallary {
        min-width: 620px;
    }
    .portfolioIMG {
        width: 100%;
        max-width: 190px;
        height: auto;
    }
    figcaption {
        padding-bottom: 10px;
        margin-bottom: 15px;
        padding-top: 10px;
        font-size: 16px;
    }
}
@media screen and (max-width: 506px) {
    header {
        min-width: 383px;
        margin: 0 auto;
    }
    .content {
        width: 400px;
        margin: 0 auto;
    }
    .logo {
        width: 47%;
        font-size: 8px;
    }
    a {
        font-size: 10px;
    }
}